/flea
/mutt
/muttbug.sh
/pgpewrap
/pgpring
/smime_keys
/txt2c

.deps
*.a
*.o
/configure
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/po/*.gmo
/po/POTFILES
/doc/*.html
/doc/instdoc
/doc/instdoc.sh
/doc/makedoc
/doc/manual.txt
/doc/manual.xml
/doc/mutt.1
/doc/muttrc.man
/doc/pgpewrap.1
/doc/pgpring.1
/doc/Muttrc
/doc/smime_keys.1
/doc/stamp-doc-*

/conststrings.c
/keymap_defs.h
/mutt_dotlock
/mutt_dotlock.c
/mutt_md5
/patchlist.c
/reldate.h

/aclocal.m4
/autom4te.cache
/config.h.in~
/depcomp
/hcachever.sh
/hcversion.h
/install-sh
/missing
/stamp-h1

Makefile
Makefile.in
TAGS
tags
